<div class="jumbotron mt-4 bg-light rounded pt-4 pb-4">
    <div class="container m-3">
        <h1 class="display-4">Welcome NoteJS and MongoDB</h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt impedit aperiam perspiciatis nisi maxime doloribus, ipsum tempora molestiae qui libero facilis eaque quasi ea saepe et ipsam expedita enim totam.</p>
        <a href="https://github.com/LilJuanxxo6/NoteJS" class="btn btn-primary btn-lg">Learn more</a>
</div>